<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Home</title>
</head>
<body>
  <% for (var i in rabbits) { %>
  <div class='rabbit'>
    <p>Name: <%= rabbits[i].name %></p>
    <p>Age: <%= rabbits[i].age %></p>
  </div>
  <% } %>
</body>
</html>
